mixin usuario(profileImageSource,name, email, date)
      div
        .row
          div(class="col 20 s12 m6 l6")
            //- nombre del usuario
            img(class="right" style="max-height: 200px;" src= `${profileImageSource}` alt="")#profile
          div(class="s12 m6 l6")
            h3.left-align#name_profile Hello
            //- nombre del usuario
            h2.left-align#name_profile= `${name}`
      div
        .row
          div(class="col 20 s12 m4 l4")
            h4(class="left")#titlerow Mis datos
          div(class="center col 20 s12 m8 l8")
            div(class="center input-field s12")
              i(class="material-icons prefix") account_circle
              input(disabled id="icon_prefix" type="text" class="validate")
              label(for="icon_prefix")= `${name}`
              span.helper-text() Nombre
              i(class="right tiny material-icons")
                a(class="grey-text" href= "./index.html") &nbspmode_edit 
            
            div(class="center input-field col s12 m12 l6")
              i(class="material-icons prefix") perm_contact_calendar
              input(disabled id="fecha" type="text" class="validate")
              label(for="fecha")= `${date}`
              span.helper-text() Fecha de nacimiento
              i(class="right tiny material-icons")
                a(class="grey-text" href= "./index.html") &nbspmode_edit 
            

            div(class="center input-field col s12 m12 l6")
              i(class="material-icons prefix") email
              input(id="icon_email" type="email" class="validate")
              label(for="icon_email")= `${email}`
              span.helper-text(data-error="Incompleto, corrige tus datos" data-success="Correcto") Email
              i(class="right tiny material-icons")
                a(class="grey-text" href= "./index.html") &nbspmode_edit
            
            div(class="center input-field col s12 m12 l6")
              select(disabled)
                option(value="" disabled selected) Selecciona tu género
                option(value="F") Femenino
                option(value="M") Masculino
              label(for="icon_gen")
                i(class="tiny material-icons") perm_identity
                label Género
              i(class="right tiny material-icons")
                a(class="grey-text" href= "./index.html") &nbspmode_edit